<svg [attr.viewBox]="viewBox" [attr.id]="svg">
  <defs>
    <filter id="ripping" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/ConcreteTexture.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <filter id="phasing" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/lightening-filter.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <filter id="bolts" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/bacon_lightening2.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <filter id="bacon" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/bacon_lightening1.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <filter id="cowhair" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/cowhair1.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <filter id="rocks" width="300%" height="300%" patternUnits="userSpaceOnUse" preserveAspectRatio="none">
        <feImage xlink:href="/assets/images/patterns/rocks.jpg" width="100%" height="100%" preserveAspectRatio="none"></feImage>
        <feColorMatrix type="saturate" values="0" result="IMAGE"/>
        <feDisplacementMap in="SourceGraphic" in2="IMAGE" scale="15" xChannelSelector="R" yChannelSelector="R" result="TEXTURED_CIRCLE"></feDisplacementMap>
        <feBlend in="BG" in2="Textured_Circle" mode="multiply" result="BLENDED_CIRCLE"></feBlend>
    </filter>
    <pattern id="flowers" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/flowers.jpg" preserveAspectRatio="none"/>
    </pattern>
    <pattern id="lines" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/lines.jpg"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="triangles" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/triangles.jpg"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="bullet_cluster" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/bullet_cluster.jpg"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="code" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/landing_code.png"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="dinosaur" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/dino.png"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="green-cowhair" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/cowhair2.jpg"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="bacon_lightening1" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/bacon_lightening1.jpg"  preserveAspectRatio="none"/>
    </pattern>
    <pattern id="hand" width="100%" height="100%" patternUnits="userSpaceOnUse">
      <image width="100%" height="100%" xlink:href="/assets/images/patterns/hand1.jpg"  preserveAspectRatio="none"/>
    </pattern>
  </defs>

  <svg:circle *ngFor="let circle of grid.live"
              [attr.cx]="circle.x"
              [attr.cy]="circle.y"
              [attr.r]="radius"
              [attr.fill]="circle.background"
              />
  <svg:circle *ngFor="let circle of grid.live"
              [attr.cx]="circle.x - 5"
              [attr.cy]="circle.y - 5"
              [attr.r]="radius"
              class="svg-circle"
              [attr.stroke]="circle.pattern"
              fill="none"
              [attr.filter]="circle.filter"
              />
  <svg-control (choke)="changeGrid($event)" (stutter)="flicker($event)"></svg-control>
</svg>
