/* Assets */
@font-face {
  font-family: 'bilbo';
  src: url('fonts/bilbofine.ttf') format('truetype');
}
@font-face {
  font-family: 'caps';
  src: url('fonts/Royal.ttf') format('truetype');
}
@font-face {
  font-family: 'profont';
  src: url('fonts/profont.ttf') format('truetype');
}

/* Pages Structure */
html {
  width:  100%;
  height: 100%;
}
body {
  width:  100%;
  height: 100%;
}
.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cv-page {

  /* a4 paper size */
  min-width:  210mm;
  min-height: 297mm;
  max-width:  210mm;
  max-height: 297mm;
  display: block;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  margin: 5mm 5mm 5mm 10mm;
  background-color: white;
}

/* Page Shape */
.flex-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: bilbo;
}

 /* Chunks */
.header {
  z-index: 1;
  margin-bottom: -50px;
}
.info {
  align-self: flex-start;
  margin-left: 63px;
  padding-right: 50px;
  flex-direction: row;
  justify-content: flex-start;
  text-align: justify;
  font-family: profont;
  font-size: 10px;
}
.contact-details {
  align-self: center;
  margin-left: -5px;
}
.intro-title {
  font-size: 14px;
}
.contact-details {
  border: 5px solid #00aa00;
  padding: 2px;
}


/* Makes it pretty */
.yellowfade-sidebar {
  position: fixed;
  margin: auto;
  height: 100%;
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}
.stoney {
  background: url(pics/patterns/rocks.png);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.pretty-bar {
  margin-top: -91px;
  margin-left: -72px;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
