<h1>Curriculum Vitae</h1>
<section class="cv-content" [class.type]="content.cssClass">
  <div [innerHtml]="content.h2 | safeHtml"></div>
  <div [innerHtml]="content.html | safeHtml"></div>
</section>
<div class="primary-skills">
  <h2>Primary Skills</h2>
  <p>Lorem ipsum dolor sit amet, his id voluptua accusata iudicabit, ne possim scripta oporteat eum, impedit tractatos euripidis ei eum. Pro cu illud veniam. Est audiam eruditi nostrum ei. Putent aliquam est ad, id vix mucius commune, munere antiopam eos an.</p>
  <p>Cu est alia idque. Duo quem summo dicunt ut, tempor platonem pericula eos et. Sit clita putant delicata cu, pri perfecto sadipscing philosophia in. Sit ut quaeque recusabo. Ut his recusabo delicatissimi, tale albucius eos eu.</p>
  <p>Vix alii gloriatur no, sumo democritum no has, mei ferri docendi an. Elitr persecuti assueverit sea te, ea nec sumo ullum deleniti. Eos maiorum postulant ne. Scripta vituperata deterruisset duo et, his ei augue laudem. Cu prima efficiantur nec, possit tritani assueverit sit ne, mea brute nonumes in.</p>
  <p>Ea veritus phaedrum voluptatibus sed. Doming quidam complectitur ea pro, quando consul no quo. An ius vidisse persius singulis, eu vim primis fuisset. Mel primis delenit no, habeo probatus atomorum quo et, latine ornatus ne duo.</p>
  <p>Utamur graecis vim id, qui ad dicta debet postea, ius ad sanctus vituperata. Illud aliquid perpetua et duo, vel prima propriae in. Autem tibique ex pri, te vis audiam expetendis. Eius dignissim delicatissimi duo at. Tractatos dignissim similique ne duo, ut viris reprehendunt definitionem mea. Est ex stet inimicus expetenda.</p>
</div>
<div class="secondary-skills">
  <h2>Primary Skills</h2>
  <p>Lorem ipsum dolor sit amet, his id voluptua accusata iudicabit, ne possim scripta oporteat eum, impedit tractatos euripidis ei eum. Pro cu illud veniam. Est audiam eruditi nostrum ei. Putent aliquam est ad, id vix mucius commune, munere antiopam eos an.</p>
  <p>Cu est alia idque. Duo quem summo dicunt ut, tempor platonem pericula eos et. Sit clita putant delicata cu, pri perfecto sadipscing philosophia in. Sit ut quaeque recusabo. Ut his recusabo delicatissimi, tale albucius eos eu.</p>
  <p>Vix alii gloriatur no, sumo democritum no has, mei ferri docendi an. Elitr persecuti assueverit sea te, ea nec sumo ullum deleniti. Eos maiorum postulant ne. Scripta vituperata deterruisset duo et, his ei augue laudem. Cu prima efficiantur nec, possit tritani assueverit sit ne, mea brute nonumes in.</p>
  <p>Ea veritus phaedrum voluptatibus sed. Doming quidam complectitur ea pro, quando consul no quo. An ius vidisse persius singulis, eu vim primis fuisset. Mel primis delenit no, habeo probatus atomorum quo et, latine ornatus ne duo.</p>
  <p>Utamur graecis vim id, qui ad dicta debet postea, ius ad sanctus vituperata. Illud aliquid perpetua et duo, vel prima propriae in. Autem tibique ex pri, te vis audiam expetendis. Eius dignissim delicatissimi duo at. Tractatos dignissim similique ne duo, ut viris reprehendunt definitionem mea. Est ex stet inimicus expetenda.</p>
</div>
<div class="education-work">
  <h2>Primary Skills</h2>
  <p>Lorem ipsum dolor sit amet, his id voluptua accusata iudicabit, ne possim scripta oporteat eum, impedit tractatos euripidis ei eum. Pro cu illud veniam. Est audiam eruditi nostrum ei. Putent aliquam est ad, id vix mucius commune, munere antiopam eos an.</p>
  <p>Cu est alia idque. Duo quem summo dicunt ut, tempor platonem pericula eos et. Sit clita putant delicata cu, pri perfecto sadipscing philosophia in. Sit ut quaeque recusabo. Ut his recusabo delicatissimi, tale albucius eos eu.</p>
  <p>Vix alii gloriatur no, sumo democritum no has, mei ferri docendi an. Elitr persecuti assueverit sea te, ea nec sumo ullum deleniti. Eos maiorum postulant ne. Scripta vituperata deterruisset duo et, his ei augue laudem. Cu prima efficiantur nec, possit tritani assueverit sit ne, mea brute nonumes in.</p>
  <p>Ea veritus phaedrum voluptatibus sed. Doming quidam complectitur ea pro, quando consul no quo. An ius vidisse persius singulis, eu vim primis fuisset. Mel primis delenit no, habeo probatus atomorum quo et, latine ornatus ne duo.</p>
  <p>Utamur graecis vim id, qui ad dicta debet postea, ius ad sanctus vituperata. Illud aliquid perpetua et duo, vel prima propriae in. Autem tibique ex pri, te vis audiam expetendis. Eius dignissim delicatissimi duo at. Tractatos dignissim similique ne duo, ut viris reprehendunt definitionem mea. Est ex stet inimicus expetenda.</p>
</div>
